body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
img{
max-width: 100%;
width: 150vw;
height: 120vh;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.section {
    padding: 2em;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.in{
text-align: end;
flex-direction:column;
align-items: end;

}

h1{
    color: white;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
  }
  .hi{
    height: 30vh;
    width: 40vw;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: blue;
  }
  .inb{
    background-color: rgb(90, 153, 208);
    height: 170px;
    
  }